
<!DOCTYPE html>
<html>
<title>Leave Management Sytem</title>
<head>
  <meta charset="utf-8">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/employees" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Leave Management</a>
  {% if user.is_authenticated %}
  	<a href="{% url 'employees:profile' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Employee Profile</a>
  	<a href="{% url 'employees:apply' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Leave Application</a>
	<a href="{% url 'employees:logout' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Sign Out</a>
  {% else %}
	<a href="/employees" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Login</a>
  {% endif %}
 </div>

<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">  	
  {% if user.is_authenticated %}
  	<a href="{% url 'employees:profile' %}" class="w3-bar-item w3-button">Employee Profile</a>
  	<a href="{% url 'employees:apply' %}" class="w3-bar-item w3-button">Leave Application</a>
	<a href="{% url 'employees:logout' %}" class="w3-bar-item w3-button">Sign Out</a>
  {% else %}
  	<a href="/employees" class="w3-bar-item w3-button"><i class="fa fa-home w3-margin-right"></i>Leave Management</a>
	<a href="/employees" class="w3-bar-item w3-button">Login</a>
  {% endif %}
</div>
</div>

<div class="container" style="margin-top:5.5vw; margin-left:1vw">
	      	<div class="grid-container">
				<div class="grid">
					<h2>Leave Application</h2>
				</div>
				<form method="post">
				  {% csrf_token %}
				  {% for field in form %}
				      <div class="grid text-blur">
					      	{{ field.label_tag }}<br>
					      </div>
					      <div class="grid">
					        {{ field }}
					      </div>
				        {% if field.help_text %}
				          <small style="color: grey">{{ field.help_text }}</small>
				        {% endif %}
				        {% for error in field.errors %}
				          <p style="color: red">{{ error }}</p>
				        {% endfor %}
				      </p>
				  {% endfor %}

			    <button class="button" style="background-color:#FFD166; color:#000;" type="submit">Submit Application</button>
				</form>
			</div>
</div>

<script>

function w3_open() {
  var x = document.getElementById("mySidebar");
  x.style.width = "300px";
  x.style.paddingTop = "10%";
  x.style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}

function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>