<!DOCTYPE html>
<html>
<title>Leave Management Sytem</title>

<meta charset="utf-8">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="\employees" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Leave Management</a>
  <a href="{% url 'employees:manage_requests' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Process Leave Requests</a>
  <a href="{% url 'employees:logout' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Sign Out</a>
 </div>
</div>

<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">  	
  	<a href="\employees" class="w3-bar-item w3-button">Leave Management</a>
  	<a href="{% url 'employees:manage_requests' %}" class="w3-bar-item w3-button">Process Leave Requests</a>
	<a href="{% url 'employees:logout' %}" class="w3-bar-item w3-button">Sign Out</a>
</div>


<div class="w3-container" style="margin-top:5vw;">
	{% if manager_decision.status_decision == 'Approved' %}
		<p> Leave request for <strong>{{ leave_request.employee.user.first_name }} {{ leave_request.employee.user.last_name }}</strong> of the <strong>{{ leave_request.employee.department }}</strong> department has been approved.</p>
	{% elif manager_decision.status_decision == 'Rejected' %}
		<p> Leave request for <strong>{{ leave_request.employee.user.first_name }} {{ leave_request.employee.user.last_name }}</strong> of the <strong>{{ leave_request.employee.department }}</strong> department has been rejected.</p>
	{% endif %}
	<p><a href="/employees/manage_requests">Attend to Other Leave Requests</a></p>
</div>

<script>

function w3_open() {
  var x = document.getElementById("mySidebar");
  x.style.width = "300px";
  x.style.paddingTop = "10%";
  x.style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}

function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
</html>